<div class="row col-lg-12 col-md-12 justify-content-center mt-5">
    <div class="col-lg-10 col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
        <!--Card image-->
            <!--<div class="view view-cascade gradient-card-header blue-gradient">
            <h4 class="h4-responsive">About Us</h4>
            </div>-->
            <h1 class="h1-responsive font-weight-bold text-center my-5">About Us</h1>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-left">
                <p class="dark-grey-text w-responsive mx-auto mb-4">
                    Chennai Sampriti Cultural Association (CSCA), as the name suggest, is an association of people in Greater Chennai,
                    whose mother tongue is Bengali - or who are otherwise interested in the heritage of Bengal. Our effort
                    lies in bringing together the Bengali community in celebrating our diverse cultural heritage.
                </p>
                <p class="dark-grey-text w-responsive mx-auto mb-4">
                    At Chennai Sampriti, we build and foster friendship and understanding between the people through the 
                    promotion of traditional and modern art forms, including (but not limited to) language, customs, dress,
                    food, music, dance, poetry, drama, literature.    
                </p>    
                <p class="dark-grey-text w-responsive mx-auto mb-4">
                    We are registered non-profit, tax-exempt 501(c)(3) organization.
                </p>

                    <ul class="dark-grey-text w-responsive mx-auto mb-5">
                        <li>Family of diverse people connected by the virtue of pure love and togetherness</li>
                        <li>Promote socio-cultural values</li>
                        <li>Give respect to individual believe and culture</li>
                        <li>100% non-political and non-profit</li>
                        <li>Promote awareness of our rich cultural heritage for the next generation</li>
                        <li>Contribute towards health and hygiene awareness</li>
                        <li>Encourage outdoor games and traditional sports See Less</li>
                    </ul>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
      <!--/.Card-->
      <br><br><br>
    </div>
</div>
