<!--Section: Blog v.4-->
<section class="my-4">

    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1">
          </div>
    
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="./../../assets/images/team/sampurna.jpg" class="rounded-circle">
          </div>
    
          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h5>Sampurna Dey</h5>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p >
              <mdb-icon fas icon="quote-left"></mdb-icon> 
              The best thing I find in Sampriti is transperency and bonding within the members.
               It's like a family. Feeling very luck to be part of this association.
            </p>
          </mdb-card-body>
        </mdb-card>
    
      </div>
      <!--Grid column-->
    
      <!--Grid column-->
      <div class="col-md-12">
    
        <!--Card-->
        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up aqua-gradient">
          </div>
    
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle">
          </div>
    
          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4>Martha Smith</h4>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p>
              <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
              adipisci</p>
          </mdb-card-body>
        </mdb-card>
        <!--/.Card-->
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
            
        </div>
      </div>
    </div>
    <!--Grid row-->
  
    
  
    
  
    <hr class="mb-5 mt-4">
  
  </section>
  <!--Section: Blog v.4-->


