<!--Section: Blog v.4-->
<section class="my-5">

    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/images/covid1.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a >What members feel about Sampriti</a>
            </h2>
              
            <!--Social shares-->
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>

        <!--Card-->
      <mdb-card cascade="true" narrower="true" class="card-ecommerce">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="./../../assets/images/team/chidap.jpg" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>Chidananda Patra</h5>
          </a>
          <p>The best thing I find in Sampriti is transperency and bonding within the members. 
              It's like a family. Feeling very luck to be part of this association.  </p>

          
          <!--Description-->
          
        </mdb-card-body>
        <!--Card content-->
      </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
            
        </div>
      </div>
    </div>
    <!--Grid row-->
  
    
  
    
  
    <hr class="mb-5 mt-4">
  
  </section>
  <!--Section: Blog v.4-->


