<!-- Section: Team v.2 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Our Executive Committee</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error
      amet numquam iure provident voluptate esse quasi,
      </p>
  
    <!-- Grid row -->
    <div class="row col-lg-12">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="./../../assets/images/team/sanjayd.jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="200" width ="200">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4">Sanjay Dhol</h4>
        <h6 class="text-uppercase grey-text mb-3">
          <strong>President</strong>
        </h6>
        
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="./../../assets/images/team/sugatar.jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="200" width ="200">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4">Sugata Roy</h4>
        <h6 class="text-uppercase grey-text mb-3">
          <strong>Vice President</strong>
        </h6>
        
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="./../../assets/images/team/chidap.jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="200" width ="200">
        </div>
        <h4 class="font-weight-bold dark-grey-text my-4">Chidananda Patra</h4>
        <h6 class="text-uppercase grey-text mb-3">
          <strong>Secretary</strong>
        </h6>
        
      </div>
      <!-- Grid column -->

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div >
          <img src="./../../assets/images/team/jayottam.jpg" class="rounded z-depth-1-half" alt="Sample avatar" height="200" width ="200">
        </div>
        <h4 class="font-weight-bold dark-grey-text ">Jayottam Ganguly</h4>
        <h6 class="text-uppercase grey-text ">
          <strong>Treasurer</strong>
        </h6>
        
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.2 -->
