<!-- Section: Blog v.3 -->
<div class="row col-lg-12 col-md-12 justify-content-center mt-1">
    <div class="col-lg-10 col-md-12">
        <section class="my-1">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Chennai Sampriti Event Calendar - 2020</h2>
            <!-- Section description -->
            <div class="col-lg-12 col-md-12">
                <p class="text-left dark-grey-text mb-5" > The Precident, Vice Precident, Scretary, on behalf 
                    of the Executive Committee members of Chennai Sampriti cordially invite you our first Durga Puja celebrations
                    and other bengali festival events.
                </p>
            </div>
            <mdb-card cascade="true" narrower="true" class="mt-5">
                <div class="view view-cascade overlay waves-light col-2 col-lg-2 col-md-2 text-center" mdbWavesEffect >
                    <!-- Card img -->
                    <mdb-card-img class="img-fluid text-center" src = "./../../assets/images/events/durga_main.jpg" alt="Card image cap" height = "20"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                <!-- Grid row -->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-2 mb-5 waves-light" mdbWavesEffect>
                            <img class="img-fluid responsive" src="./../../assets/images/events/sasthi2.jpg" alt="Sample image" width = "550" >
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
            
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3 text-left">Maha Sasthi: 22nd October, Thursday</h3>
                        <!-- Excerpt -->
                        <ul class="text-left">
                            <li>Maha Sasthi Puja : 8 AM</li>
                            <li>Bodhan : 8 AM</li>
                            <li>Amantran & Adhibas : 6 PM</li>
                            <li>Sandha Arati : 6:30 PM</li>
                            <li>Cultural program : 7 PM</li>
                        </ul>
                    
                    </div>
                    <!-- Grid column -->                                        
                </div>
                <!-- Grid row -->
            
                <hr class="my-5">
            
                <!-- Grid row -->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="./../../assets/images/events/saptami3.jpg" alt="Sample image" width = "550" >
                        
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3 text-left">Maha Saptami: 23rd October, Friday</h3>
                        <!-- Excerpt -->
                        <ul class="text-left">
                            <li>Nabo Patrika, Maha Saptami Puja, Predawn bathing of "Kola Bou" : 8:32 AM</li>
                            <li>Pushpanjali : 10:30 AM</li>
                            <li>Sandha Arati : 6:30 PM</li>
                            <li>Cultural program : 7 PM</li>
                        </ul>
                        
                
                    </div>
                    <!-- Grid column -->
            
                </div>
                <!-- Grid row -->
            
                <hr class="my-5">
            
                <!-- Grid row -->
                <div class="row">
            
                <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="./../../assets/images/events/astami.jpg" alt="Sample image" width = "550" >
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3 text-left">Maha Ashtami: 24th October, Saturday</h3>
                        <!-- Excerpt -->
                        <ul class="text-left">
                            <li>Maha Ashtami Puja : 7:07 AM - 9:28</li>
                            <li>Pushpanjali : 9:30 AM -  11:00 PM</li>
                            <li>Sandhi Puja : 11:00 AM to 11:48 AM</li>
                            <li>Bhog : 1 PM</li>    
                            <li>Cultural program : 7 PM</li>
                        </ul>
                
                    </div>
                    <!-- Grid column -->
            
                </div>
                <!-- Grid row -->
                <hr class="my-5">
            
                <!-- Grid row -->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="./../../assets/images/events/dhunachi.jpg" alt="Sample image" width = "550" >
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
                
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3 text-left">Maha Navami: 25th October, Sunday</h3>
                        <!-- Excerpt -->
                        <ul class="text-left">
                            <li>Maha Navami Puja : Within 9:29 AM</li>
                            <li>Bodhan : 8 AM</li>
                            <li>Bhog : 1 PM</li>  
                            <li>Sandha Arati : 6:30 PM</li>
                            <li>Cultural program : 7 PM</li>
                        </ul>
                
                    </div>
                    <!-- Grid column -->
            
                </div>
                <!--Grid Row-->
                <hr class="my-5">
            
                <!-- Grid row -->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-lg-5 col-xl-4">
                
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                        <img class="img-fluid" src="./../../assets/images/events/dasami.jpg" alt="Sample image" width = "550" >
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-lg-7 col-xl-8">
            
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3 text-left">Vijaya Dasami: 26th October, Mondayday</h3>
                        <!-- Excerpt -->
                        <ul class="text-left">
                            <li>Dashami puja : 9:29 AM</li>
                            <li>Immersion Procession : 4 PM</li>
                            
                        </ul>
            
                    </div>
                <!-- Grid column -->
            
                </div>
                <!--Grid Row-->
                </mdb-card-body>
            </mdb-card>


            <mdb-card cascade="true" narrower="true" class="mt-5">
                
                <mdb-card-body cascade="true" class="text-center">
                    <div class="row">
            
                        <!-- Grid column -->
                        <div class="col-lg-5 col-xl-4">
                    
                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-1-half mb-lg-2 mb-5 waves-light" mdbWavesEffect>
                                <img class="img-fluid responsive" src="./../../assets/images/events/lakshmi.jpg" alt="Sample image" width = "550" >
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                    
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-lg-7 col-xl-8">
                
                            <!-- Post title -->
                            <h3 class="font-weight-bold mb-3 text-left">Sri Sri Lakshmi Puja: 30th October, Friday</h3>
                            <!-- Excerpt -->
                            <ul class="text-left">
                                <li>Lakshmi Puja : 8 PM</li>
                                <li>Bhog : 9 PM</li>
                            </ul>
                            <h4 class="h4-responsive text-left">Venue : Umadri Mahal</h4>
                        </div>
                        <!-- Grid column -->                                        
                    </div>
                    <!-- Grid row -->
                </mdb-card-body>
            </mdb-card>  
            
            <mdb-card cascade="true" narrower="true" class="mt-5">
                
                <mdb-card-body cascade="true" class="text-center">
                    <div class="row">
            
                        <!-- Grid column -->
                        <div class="col-lg-5 col-xl-4">
                    
                            <!-- Featured image -->
                            <div class="view overlay rounded z-depth-1-half mb-lg-2 mb-5 waves-light" mdbWavesEffect>
                                <img class="img-fluid responsive" src="./../../assets/images/events/kali1.jpg" alt="Sample image" width = "550" >
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                    
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-lg-7 col-xl-8">
                
                            <!-- Post title -->
                            <h3 class="font-weight-bold mb-3 text-left">Sri Sri Kali Puja: 14th November, Saturday</h3>
                            <!-- Excerpt -->
                            <ul class="text-left">
                                <li>Kali Puja : 8 PM</li>
                                <li>Bhog : 10 PM</li>
                            </ul>
                            <h4 class="h4-responsive text-left">Venue : Umadri Mahal</h4>
                        </div>
                        <!-- Grid column -->                                        
                    </div>
                    <!-- Grid row -->
                </mdb-card-body>
            </mdb-card> 

        </section>
  <!-- Section: Blog v.3 -->
  </div>
  </div>
