<!--Section: Blog v.4-->
<section class="my-5">

    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/images/durga_mask1.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a >Matri Aradhonai Chennai Sampriti</a>
            </h2>
            
            <!--Social shares-->
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <p class="dark-grey-text w-responsive mx-auto mb-4">The culturally enriched association is all set to celebrate Durga & Kali Pujo during 2020 
            while the members eagerly await to celebrate Saraswati pujo in 2021.
          </p>
  
          <p class="dark-grey-text w-responsive mx-auto mb-4">To comply with the COVID safety guidelines and regulations such as maintaining adequate 
            physical distancing, regular sanitization of the premise, and record of the people attending 
            the programme, the functions are restricted for the members ONLY. 
          </p>
          <p class="dark-grey-text w-responsive mx-auto mb-4">
            Enjoy the pujo fervour over an adda session <a href = "#" (click) = "openWindow()">Shri Umadri Mahal OMR (at Sholinganallur) -</a>  
          </p>
          <p class="dark-grey-text w-responsive mx-auto mb-4">
            To be part of the Sampriti Family please enroll in the link below:
            <a class="nav-link waves-effect" routerLink = "/registration">Member Registration Form</a>  
          </p>
          <p class="dark-grey-text w-responsive mx-auto mb-4">
            For any queries regarding Chennai Sampriti, Durga Puja details, Membership & benefits, please call / WhatsApp
             - <span class="pink-text">99529 90178 / 98844 89539 / 99031 42160 / 9840590916</span>
             
          </p>
          <p class="dark-grey-text w-responsive mx-auto mb-4">
            To view regular updates on our Durga Puja, please visit our <a href = "#" (click) = "openWindow1()">facebook page</a>
          </p>
        </div>
      </div>
    </div>
    <!--Grid row-->
  
    
  
    
  
    <hr class="mb-5 mt-4">
  
  </section>
  <!--Section: Blog v.4-->
