<!--Section: Blog v.4-->
<section class="my-5">

    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/images/durga_mask.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a >Covid Guidelines for Durga Puja</a>
            </h2>
              
            <!--Social shares-->
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
            <ul>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                    At the moment, the puja is planned only for members, donors and sponsors; No walk in visitors will be allowed 
                    inside the premise.
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                    All visitors need to be screened with Thermal Gun at the entrance.
                    Vistiros having temperature of 38 degree C or more will not be allowed to enter.
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                    All vistors need to record their contact details at the entrance (Aadhar, DI, Voters ID, Office ID with contact number).
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                    All vistors need to sanitize their hand and enter the hall earing MASK.
                    No permission for entry of visitors without MASK and sanitization.
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                  Marking of areas for people to stand with adequate physical distance of at least 1 meter.
                  Frequent sanitization of pandal, stalls and dinning hall.
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                  Rituals like Pushpanjali, Sondhi pujo, will be performed by maintaining adequate physical distancing.
                  To avoid crowding - Batch wise pushpanjali; per batch 20-25 people
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                  No Sindur Khela this year.No cut fruits to be offered for puja. At all time, the visitors 
                  should be wearing MASKS. 
                </li>
                <li class="dark-grey-text w-responsive mx-auto mb-4">
                  At the dinning hall adequate distance to be maintained between each table and chairs.
                  Only packed food will be served; if additional quantity required, then additional 
                  packets will be provided.
                </li>
            </ul>
        </div>
      </div>
    </div>
    <!--Grid row-->
  
    
  
    
  
    <hr class="mb-5 mt-4">
  
  </section>
  <!--Section: Blog v.4-->

