<!--<header>-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark sticky-top scrolling-navbar blue-gradient" [containerInside]="false" >
        <logo>
            <a class="logo navbar-brand" routerLink = "" >
              <img src = "./../../assets/images/logo1.png" alt = "logo" id = "logo" height = "50">
            </a>
        </logo>
        <links>
          <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "" ><i class = "fa fa-home" ></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/aboutus">About Us</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/team"><i class = "fa fa-newspaper" ></i> Executive Committee</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/events"><i class = "fa fa-calendar" ></i> Event Calendar</a>
                </li>
                
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/contact"><i class = "fa fa-phone" ></i> Contact Us</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/registration"><i class = "fa fa-users" ></i> Membership Registration</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link waves-effect" routerLink = "/update"><i class = "fa fa-comments" ></i> Puja Update</a>
                </li>
                
            </ul>
      
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a *ngIf = "isLoggedIn" class="nav-link" routerLink = "/member/addExpense"><i class = "fa fa-users"  ></i> Manage Expense</a>
                </li>
                <li class="nav-item dropdown btn-group" dropdown>
                    <a *ngIf = "isLoggedIn" dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <i class = "fa fa-user-secret" ></i> Admin<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" routerLink = "/member/viewRegistration" mdbWavesEffect>View Registration</a>
                        <a class="dropdown-item waves-light" routerLink = "/member/viewMembers" mdbWavesEffect>View Memebrs</a>
                        <a class="dropdown-item waves-light" routerLink = "/member/viewContact" mdbWavesEffect>Contact Us</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Reports</a>
                    </div>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a *ngIf = "!isLoggedIn" class="nav-link" routerLink = "/member"><i class = "fa fa-sign-out" ></i> Login</a>
                    <a *ngIf = "isLoggedIn" class="nav-link" (click)="onLogout()"><i class = "fa fa-sign-out" ></i> Logout</a>
                </li>
            </ul>
            
        </links>
      </mdb-navbar>
      <!-- Main -->
<!--</header>-->
