<app-banner></app-banner>
<div class="row col-lg-12 col-md-12 justify-content-center d-flex mb-5">
    <div class="row col-lg-11 col-md-12 justify-content-center d-flex mb-5">
    <h1 class="h1-responsive font-weight-bold text-center my-5">Welcome to Chennai Sampriti</h1>
    <p>Chennai Sampriti hopes that all of you are in good healthand spirits.This year has been trying in so many ways
        that it is hard to believe that we have already spent almost eight months of our lives interrupted by brutal 
        pandemic. Amid this ongoing calamity, we bring happy tidings. It's that time of the year when we all are excited 
        to celebrate Maa's agomoni barta.Mahalaya is already around the corner!With the hope and promise of vaccines and 
        treatments, Durga Maa ariving soon to lighten our hearts.
    </p>
    <p>We would be having our Durga puja by safely following all the COVID precautionary protocols slated by the Government.
        Due to COVID, this year, all the festivities are exclusive members only. Join us to be a member of Chennai Sampriti 
        and be a part of grand festivity.
    </p>
    <button mdbBtn type="button" color="info" rounded="true" outline="true" mdbWavesEffect (click) = 'onMember()'>Become a Member</button>
</div>
<div class="row col-lg-11 col-md-12 justify-content-center d-flex">
    
    
    <div class="col-lg-4 col-md-12">
        <app-hone-content1></app-hone-content1>
    </div>
    <div class="col-lg-5 col-md-12">
        <app-home-content2></app-home-content2>
    </div>
    <div class="col-lg-3 col-md-12">
        <app-home-content3></app-home-content3>
    </div>
</div>
</div>